<footer class="page-footer sidenav-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <div class="col s12">
          <h5 class="white-text thin">{{ site.title }}</h5>
          <p class="white-text">{{ site.description }}</p>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text thin">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © {{ site.time | date: '%Y' }}
    </div>
  </div>
</footer><!--  end footer -->

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
