// adjusts hamburger menu spacing
nav .button-collapse {
  margin-left: 10px;
}

// Custom scss can be added here. This file is loaded last.

.sidebar {
  margin-top: 42px;

  &.pinned {
    margin-top: 0;
  }
}

// main content offset if using sidenav layout
.sidenav-header, .sidenav-main, .sidenav-footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  .sidenav-header, .sidenav-main, .sidenav-footer {
    padding-left: 0;
  }
}
